body {   /*设置body的字体样式，模仿虎嗅网*/
    background-color: #fff;
    color: #333;
    font-family: "Arial","Microsoft yahei", "Hiragino Sans GB", "�������������� w3", "Microsoft Yahei", "Hiragino Sans GB", "�������������� w3", STXihei, "����ϸ��", "΢���ź�", SimSun, "����", Heiti, "����", sans-serif;
}


.head-img img{    /*设置图片大小*/

    height: 125px;
    width: 220px;
}
.blog-box{

    border-bottom: 1px dashed darkgoldenrod;  /*设置div的下层虚线显示 */
    margin-bottom: 25px;   /*下边距 25px*/
    padding-bottom: 15px;  /*内间距 15px*/
}
.blog-summary-btn{
    margin-top:7px;
    margin-bottom:7px;
}
.blog-summary-btn span{
    margin-left: 20px;

}
.blog-summary-btn span:hover{
    color:red;
}
.blog-summary-btn,.blog-summary{
    opacity: 0.7;
}

.comment-content,.comment-date{
    margin-left: 20px;
    opacity: 0.7;
}

.chat-box {
    height: 500px;
    border: 1px solid greenyellow;
}
.contact-list {
    height: 100%;
    border: 1px solid crimson;
    margin-bottom: 25px;

}
.contact-list-head{
    margin-top: 10px;
     margin-bottom: 25px;

}
.dialog-box {
    height: 100%;
    border: 1px solid purple;
    margin-bottom: 0px;
    margin-left: 25%;
    padding: 12px;

}

.dialog-box-head{
    height: 10%;
    background-color: #afd9ee;
}
.dialog-box-content{
    height: 70%;
    background-color: lightpink;
    overflow: auto;     /* div自动滚动 */
}
.dialog-box-utils{
    height: 5%;
    background-color: lightgray;
}
.dialog-box-sendmsg textarea{
    height: 100%;
    width: 100%;
    resize: none;    /* 禁止文本区域拉动 */

}